.input-group-prepend-login span{
    width: 40px;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

table tr td, table tr th {
    max-width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table{
    width:100%;
}

audio
{
    height:20px;
}

.popover {
    pointer-events: none;
}

body {
    padding: 40px;
}

.dots {
    margin: 40px auto;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    background-color: #EEE;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}
.dot.dot-success {
    background-color: #449D44;
}
.dot.dot-warning {
    background-color: #F0AD4E;
}
.dot.dot-danger {
    background-color: #D9534F;
}
.dot.dot-sm {
    height: 10px;
    width: 10px;
}
.dot.dot-lg {
    margin: 0 4px;
    height: 20px;
    width: 20px;
}